<ng-container *ngIf="store.state$ | async as state">
<div class="ticket-box">

  <h2 *ngIf="state.tickets[0]?.selectedNr.length === null" >No Ticket Played</h2>
  <div *ngFor="let selectedNumbers of state.tickets" class="ticket-detail">

    <h2 *ngIf="state.tickets[0]?.selectedNr.length !== 0" >Ticket Details</h2>

    <div class="ticket-details">

      <div class="ticket-numbers">
          <p class="price">Id: {{ selectedNumbers.uuid }}</p>
          <p class="price">Price: {{ selectedNumbers.price }}$</p>
        <div class="ticket">
          <div *ngFor="let tickets of selectedNumbers?.selectedNr" class="numbers-box">
            <p class="number">{{tickets}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
</ng-container>
