<div class="ticket-box">

  <h2 *ngIf="state?.tickets?.length === 0" >No Ticket Played</h2>
  <div *ngFor="let ticket of state.tickets" class="ticket-detail">

    <h2 *ngIf="ticket.selectedNr.length !== 0" >Ticket Details</h2>

    <div class="ticket-details">

      <div class="ticket-numbers">
          <p class="price">Id: {{ ticket.uuid }}</p>
          <p class="price">Price: {{ ticket.price }}$</p>
        <div class="ticket">
          <div *ngFor="let singleTicket of ticket.selectedNr" class="numbers-box">
            <p class="number">{{singleTicket}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
