<ng-container *ngIf="store.state$ | async as state">
<div class="tickets-container">

  <div class="tickets-box">
    <div class="numbers-container">
      <p class="tickets-heading">Choose 6 Numbers</p>

      <div class="numbers-buttons">
        <div class="numbers-table">

          <form [formGroup]="form">
            <p-selectButton class="button-class" [options]="numbers" formControlName="selectedNr" [multiple]="true" optionLabel="name" optionValue="value">
            </p-selectButton>

            <div class="price-box">
              <p-inputNumber formControlName="price" [showButtons]="true" inputId="stacked" mode="currency" currency="USD">
              </p-inputNumber>
            </div>

            <div class="button-box">
              <button type="submit" class="button-start" (click)="ticketSubmit()"
                      [disabled]="this.form.get('selectedNr')?.invalid" >Submit Ticket</button>
            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

  <div class="tickets-played">
    <app-played-tickets
    [state]="state"
    ></app-played-tickets>
  </div>

  <div class="game-box">
    <app-game
    [state]="state"
    ></app-game>
  </div>

</div>
</ng-container>
