<div class="game-container">
  <div class="state-box">

    <p class="state-text" *ngIf="state.gameState === 'pre-game'">
      Be ready to submit your tickets! <br> Game Initialization in
      <span> {{ state.stateTimeLeft }} seconds</span>
    </p>

    <p class="state-text" *ngIf="state.gameState === 'init'">
      Please submit a ticket for the upcoming draw within
      <span>{{ state.stateTimeLeft }} seconds</span>
    </p>


    <p class="state-text" *ngIf="state.gameState === 'preparing'">
      Good luck! Upcoming draw in
      <span>{{ state.stateTimeLeft }} seconds</span>
    </p>

  </div>

  <div class="winner" *ngIf="state.gameState === 'playing' || state.gameState === 'finished'">
    <div *ngFor="let number of state.winningNumbers" class="numbers-box">
      <p class="number"> {{number}} </p>
    </div>
  </div>

  <div *ngIf="state.ticketWinner.length !== 0" class="winner-box">
    <p class="winner-text">Winner:</p>
    <p *ngFor="let winnerId of state.ticketWinner" class="winner-id">{{winnerId}}</p>
  </div>

  <div *ngIf="state.ticketWinner.length === 0 && state.gameState === 'finished'" class="winner-box">
    <p class="no-winner-text">No Winner</p>
  </div>

</div>
