<div class="game-container">
<!--  <div class="button-box">-->
<!--    <button *ngIf="state.gameState === 'init'" class="button" (click)="startGame()">START GAME</button>-->
<!--  </div>-->

  <div class="winner" *ngIf="state.gameState === 'playing' || state.gameState === 'finished'">
    <div *ngFor="let number of state.winningNumbers" class="numbers-box">
      <p class="number"> {{number}} </p>
    </div>
  </div>

  <div *ngIf="state.ticketWinner.length !== 0" class="winner-box">
    <p class="winner-text">Winner:</p>
    <p *ngFor="let winnerId of state.ticketWinner" class="winner-id">{{winnerId}}</p>
  </div>

  <div *ngIf="state.ticketWinner.length === 0 && state.gameState === 'finished'" class="winner-box">
    <p class="no-winner-text">No Winner :(</p>
  </div>

</div>
